* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    height: 57vh;
    width: 700px;
    border-radius: .8rem;
}

main .left {
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    border-bottom-left-radius: .8rem;
    border-top-left-radius: .8rem;
}



main .right {
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: .8rem;
    border-top-right-radius: .8rem;
    padding: 2.5rem;
}

main .right p {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-align: left;
    inline-size: 14rem;
    overflow-wrap: break-word;
}

main .right p:first-child {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

main .right p.desc {
    margin-bottom: 2.2rem;
}

main .right h1 {
    font-family: 'Fraunces' !important;
    text-align: left;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.5rem;
}



main .right .price {
    display: flex;
    margin-bottom: 2rem;
}

main .right .price p:first-child {
    color: hsl(158, 36%, 37%);
    letter-spacing: normal;
    font-family: 'Fraunces';
    font-size: 2rem;
    margin-right: .9rem;
}

main .right .price p:last-child {
    position: relative;
    top: 10px;
    text-decoration: line-through;
}

main .right .btn {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    width: 15rem;
    height: 2.5rem;
    border-radius: .8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img {
    margin-right: .5rem;
}

main .right .btn:hover {
    cursor: pointer;
    background-color: hsl(212, 21%, 14%);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    
    
    main {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    main .left, main .right {
        width: 100%;
        border-radius: 0;
    }

    main .left {
        height: 40%;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
    }

    main .right {
        height: 60%;
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
        padding: 1rem;
    }
    main .right h1 {
        font-size: 1.8rem;
        margin-bottom: .8rem;
    }

    main .right .desc {
        inline-size: 100%;
        margin-bottom: .5rem;
    }

    main .right .price {
        margin-bottom: .7rem;
    }

    main .right .price p:first-child{
        font-size: 1.7rem;
    }

    main .right .btn {
        width: 85%;
    }

}